# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

NetworkTCPServer/.vs/
NetworkTCPServer/Debug/
NetworkTestServerV2/SDK/
NetworkTestServerV2/.vs/NetworkTest/v15/Browse.VC.opendb
NetworkTestServerV2/.vs/NetworkTest/v15/Browse.VC.db
NetworkTestServerV2/.vs/NetworkTest/v15/Solution.VC.db-wal
NetworkTestServerV2/.vs/NetworkTest/v15/Solution.VC.db-shm
NetworkTestServerV2/.vs/NetworkTest/v15/Solution.VC.db
